<h1>가위바위보
  <%if RockScissorsPaper.notice_route%> <a href="<%=RockScissorsPaper.notice_route%>">[공지 보기]</a><%end%>
  <a href="javascript:" id='show_rank'>[순위 보기]</a>
</h1>
<div class="rank">
  <%for i in 0...@rank_record.length%>
    <div class="col-xs-6 col-sm-4">
      <%=i+1%>위 <%=@rank_name[i]%> <%=@rank_point[i]%>
    </div>
  <%end%>
  <div class="col-xs-6 col-sm-4">
    내 순위: <%=@my_rank+1%>위
  </div>
</div>
<div id="svg">
</div>
<style media="screen">
  #selection>g,g#confirm,g#cancel,#result>g#init{
    cursor: pointer;
  }
  input.betting{
    position: absolute;
    border:none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }
  h1{font-size: 3.5vh;}
  .rank{font-size: 3vh;margin:0;height: 3.5vh;line-height: 3.5vh;overflow: hidden;}
  .popup{overflow: scroll;text-align: center;position: absolute;width: 100%;max-width: 500px;height: 500px;left: 50%;top: 10%;margin-left: -250px;background: white;border: 1px solid gray;border-radius: 25px;}
  .popup table{width:80%;margin:20px auto}
  .popup th {text-align: center}
  @media screen and (max-aspect-ratio: 1/1) {
    .popup{left: auto; top:20%; margin:auto}
  }
</style>
<%= javascript_include_tag 'rock_scissors_paper/innersvg' %>
<script>
var my_selection
var myselect_html
var question_html
var ratio
var url
if(screen.width/screen.height > 1){
  ratio = 9/16
  url = '<%= asset_path("rock_scissors_paper/playground.svg")%>'
}else {
  ratio = 4/3
  url = '<%= asset_path("rock_scissors_paper/playground_phone.svg")%>'
}
  $.ajax({
    url: url,
    type: 'get',
    dataType: 'html',
    success: function(data){
      $("#svg").html(data)
    }
  })
  .done(main)
  function main(){
    myselect_html = $("g#myselect").html()
    question_html = $("g#question").html()
    $("#submit").hide()
    $("#result").hide()
    $("g#username>text").html("<%=current_user_name_by_id(@current_user.id)%>")
    $("#my_point").html("<%=@my_record.point%>")
    $("#my_rate").html("<%=@my_record.win%>/<%=@my_record.lose%>")
    $("#svg").append("<input type='number' class='betting' min='1'>");
    set_input_position()
    $( window ).resize(set_input_position)
    $("input.betting").hide()
    initialize_click_events()
  }
  function initialize_click_events(){
    $("#selection>g").click(function(){
      place_icon("g#myselect",this,do_betting)
      set_input_position()
    });
    $("#cancel").click(cancel_betting);
    $("#confirm").click(rcp_confirm)
    $("#result>g#init").click(cancel_betting);
    $("#show_rank").click(popup_rank)
  }
  function place_icon(place_element,this_element, callback) {
    var myselect = $(place_element)
    var dx = 0
    var dy = 0
    dx = myselect.children("circle").attr("cx") - $(this_element).children("circle").attr("cx")
    dy = myselect.children("circle").attr("cy") - $(this_element).children("circle").attr("cy")
    if(myselect.attr("transform")){
      dx = parseFloat(myselect.attr("transform").split(/ |(translate\()|\)/)[2]) + dx
      dy = parseFloat(myselect.attr("transform").split(/ |(translate\()|\)/)[4]) + dy
    }
    myselect[0].innerHTML = $(this_element).html()
    my_selection = $(this_element).attr("id")
    myselect.attr("transform","translate("+dx+" "+dy+")").hide().show(500)
    callback()
  }
  function cancel_betting(){
    $("g#myselect").html(myselect_html).attr("transform","")
    $("g#question").html(question_html).attr("transform","")
    $("#selection").show(500)
    $("#submit").hide()
    $("input.betting").hide()
    $("#result").hide()
  }
  function rcp_confirm(){
    $.ajax({
      url: window.location.pathname+'/fight',
      type: 'get',
      dataType: 'json',
      data: {selection: my_selection, bet: $("input.betting").val()},
      success: function(data){
        after_confirm(data)
      },
      error: function(){
        alert("포인트가 모자랍니다")
      }
    })
  }
  function after_confirm(data){
    $("#result").show(500)
    $("#submit").hide()
    $("#result>g").hide()
    $("#result>g#init").show()
    $("input.betting").hide()
    if (data[1]) {
      place_icon("g#question","g#"+data[1],function(){})
    }
    switch (data[2]) {
      case -1:
        $("#lose").show()
        $("#lose>text").html("You Lose!")
        break;
      case 0:
        $("#draw").show()
        break;
      case 1:
        $("#win").show()
        break;
      case 2:
        $("#lose").show()
        $("#lose>text").html("No point!")
        $('input.betting').val("")
        break;
    }
    var my_record = data[0]
    $("#my_point").html(my_record.point)
    $("#my_rate").html(my_record.win+"/"+my_record.lose)
  }
  function do_betting(){
    $("#selection").hide()
    $("#submit").show(500)
    $("input.betting").show()
  }

  function set_input_position(){
    //set betting point input position
    $("#svg").css("height",$("#svg").width()*ratio)
    var position = $("#submit>path").position();
    var height = $("#svg").height()*.1;
    var width = $("#svg").width()*.3;
    $("input.betting").css("left",position.left*1.01).css("top",position.top*1.01).css("height",height)
    .css("width",width).css("font-size",height).focus()
    $("#cancel ~ *").click(function(event) {
      $("input.betting").focus();
    });
    if (screen.width/screen.height <= 1) {
      height = $("#svg").height()*.08;
      width = $("#svg").width()*.55;
      $("input.betting").css("left",position.left*1.01).css("top",position.top*1.01).css("height",height)
      .css("width",width).css("font-size",height)
    }
  }

  function popup_rank(){
    $.ajax({
      url: window.location.pathname+'/rank',
      type: 'post',
      dataType: 'json',
      success: function(data){
        var html = '<div class="popup"><table>'
        + '<thead><tr><th>순위</th><th>구분</th><th>점수</th></tr></thead>'
        + '<tbody>'
        var i = 1
        $.each(data,function(key, value){
          html += '<tr><td>'+i+'</td><td>'+key+'</td><td>'+value+'</td></tr>'
          i++
        })
        html +='</tbody></table><a href="javascript:" class="close_rank">닫기</a></div>'
        $('body').append(html)
        $('.close_rank').click(function(){
          $(this).parent().remove()
        })
      },
      error: function(err){
        console.log("err",err)
      }
    })
  }
</script>
<script type="text/javascript">
var scroll = 0
$(".rank").scrollTop(10000)
var max_scroll = $(".rank").scrollTop()
var lines = Math.floor(max_scroll/$(".rank").height())
scroll = max_scroll
setInterval(function(){
  $(".rank").scrollTop(scroll + max_scroll/lines)
  if ($(".rank").scrollTop() < scroll) {
    $(".rank").scrollTop(0)
    scroll = 0
  }else {
    scroll += max_scroll/lines
  }
},2000)
</script>
